<!doctype html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src='http://www.midijs.net/lib/midi.js'></script>
</head>
<body>

<h1>Choose the nice cadences</h1>

<table class="table table-striped">
    {% for item in midi_items %}
    <tr>
        <td>
            <a class="btn btn-link" href="javascript:;" onclick="MIDIjs.play('{{ item.midi_link }}');">
                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> {{ item.name }}
            </a>
        </td>
        <td>
            <a class='btn btn-link' href="{{ item.like_link }}">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
            </a>
        </td>

        <td>
            <a class='btn btn-link' href="{{ item.dislike_link }}">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Dislike
            </a>
        </td>

        {% endfor %}
</table>

</body>